
@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Fruktur:ital@0;1&display=swap');

/* Basic functions*/

/*
h1{

}
*/
html, body{
    max-width:100%;
    overflow-x:hidden;
}

body{
    background-color:rgb(0, 0, 0);
}

/* The Home Image Cover*/
.home-img-cover{
    width:auto;
    height: 50px;
    background-color:rgb(0, 0, 0);

}
.home-name{
    font-family:'Fruktur', sans-serif;
    color:white;
    font-size:400%


    
}

.home-img{
    width:1300px;
    height:450px;
    object-fit: cover;
    object-position: 25% 25%;

}

.face-img{
    width:500px;
    position:absolute;
    margin-left:50%;
    filter:brightness(50%) opacity(90%);


}

.name-box{
    /*background-color:rgb(236, 26, 26);*/
    width: 45%;
    position:absolute;
    margin-top:10%;
    margin-left:50px;
    /*text-align:center;*/

}

/* Navbar */

.navbar{
    background-color:rgb(255, 233, 255);
    /*border-radius:50cm;*/
    display:none;
    height:0px;
    overflow-y:hidden;

}

.nav-btn{
    background-color:rgb(255, 233, 255);
    color:black;
    border-width:0px;
    border-radius:50cm;
    /*width:450px;*/
    width:30%;
    height:50px;
    font-size:20px;
    font-family:'Delius', sans-serif;
}

.nav-btn:hover{
    background-color:rgb(152, 117, 157);
}

.down-arw{
    width:30px;
    padding:5px;
    margin-top:5px;
}

.arw-box{
    z-index: 1;
    position:absolute;
    right:50px;
    top:9px;
    margin-left:80px;
    background-color:rgb(255, 233, 255);
    border-radius:10px;
    transform: scaleY(1);
    filter:opacity(50%);
}

.arw-box:hover{
    background-color:rgb(152, 117, 157);
}
/* Sections */

.margin-five-hun{
    overflow:auto;
    margin-top:440px;
    width:auto;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 233, 255, 0.539), black);
    height:1000px;
    text-align:center;
}
.explore{
    color:rgb(5, 4, 0);
    font-size:150px;
    margin-top:470px;

}

.overlay-1, .overlay-2{
    background-color:rgb(74, 31, 74);
    height:550px;
}

.section-btn{
    background-color:rgba(186, 186, 228, 0.445);
    font-size:20px;
    border-radius:50px;

    position:absolute;
    width:fit-content;
    padding:20px;
    padding-top:1px;
    padding-bottom:1px;

    margin-left:43%;
    margin-top:400px;
    color:rgb(0, 0, 0);
    

}
