/*Interactive Box*/
.interactive-box{
    width:800px;
    height:500px;
    background-color:rgb(70, 134, 80);
    margin:auto;
    margin-top:50px;
    border-radius:30px;
    border:10px solid rgb(218, 151, 254);
}

/*Little People Code*/
.deighi-alt{
    position:absolute;
    width:350px;
    margin-left:0px;
    display:none;
}

.deighi-move{
    position:absolute;
    width:350px;
    margin-left:0px;
}

/*Placeholder to scroll down*/
.extra{
    height:500px;
}